
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300&display=swap');

@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "../../node_modules/bootstrap/scss/bootstrap";


//   .example-row {
//     @include make-row();
//   }
//   .example-content-main {
//     background-color: rgb(255, 0, 0);
//     @include make-col-ready();
  
//     @include media-breakpoint-up(sm) {
//       @include make-col(6);
//     }
//     @include media-breakpoint-up(lg) {
//       @include make-col(8);
//     }
//   }
//   .example-content-secondary {
//     background-color: rgb(4, 0, 255);
//     @include make-col-ready();
  
//     @include media-breakpoint-up(sm) {
//       @include make-col(6);
//     }
//     @include media-breakpoint-up(lg) {
//       @include make-col(4);
//     }
//   }

//http://breakpoint-sass.com/
$iphone5: max-width 320px;
$celular: max-width 479px;
$paisagem: max-width 768px;
$paisagemB: max-width 764px;
$tablet: max-width 991px;
$desktop: max-width 1150px;

// @include breakpoint($tablet){
// }

// @include breakpoint($celular){
// }

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(../img/bg-header.jpg);
    position: relative;
    .logo{

        @include breakpoint($celular){
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .tema{
        
        @include breakpoint($celular){
            text-align: center;
            margin-bottom: 30px;
        } 
    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color:#FFF;
        margin-bottom: 30px;;
        span{
            color: #e04938;
        }
        @include breakpoint($celular){
            margin-top: 30px;
        } 
    }
    .btn-header{
        margin-top: 30px;
        padding: 10px 20px;
        text-decoration: none;
        color:#212c40;
        @include breakpoint($celular){
            margin-bottom: 30px;
        } 
    }
    .palestrantes{
        background-color: #c1d666;
        &:hover{
            background-color: #cfdd91;
        }
    }
    .inscricao{
        background-color: #e04938;
        &:hover{
            background-color: #ec958c; 
        }
    }
    .btn-ir{
        position: absolute;
        left: 0;
        right: 0;
        width: 57px;
        height: 57px;
        display: block;
        margin: 0 auto;
        background-color: #212c40;
        border-radius: 50%;
        bottom: -27px;
        text-indent: -9999px;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.conteudo-evento{
    background-color: #394756;
    h2{
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #FFF;
    }
    p{
        font-family: 'Roboto', sans-serif;
        color: #FFF;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        @include make-col(6);
        @include make-col-offset(3);
        // col-md-6 offset-md-3
        li{
            font-size: 1.5rem;
            width: fit-content;
            padding: 10px 5px;
            margin: 10px 0;
            background-color: #c9b8a8;  
            @include breakpoint($tablet){
                font-size: 1.2rem;
            }
            @include breakpoint($celular){
                font-size: 1rem;
            }      
        }
    }
}

.conteudo-perfil-publico{
    background-image: url(../img/bg-middium.jpg);
    background-color: #394756;
    h2{
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #FFF;
    }
    p{
        font-family: 'Roboto', sans-serif;
        color: #FFF;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        @include make-col(12);
        li{
            font-size: 1.5rem;
            color: #FFF;      
        }
    }
}

.example-container {
    background-color: #FFF;
    @include make-container();
    // Make sure to define this width after the mixin to override
    // `width: 100%` generated by `make-container()`
    width: 800px;
  }
 

.conteudo-especialistas{
    background-image: url(../img/bg-palestrantes-top.png);
    background-color: #394756;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include breakpoint($tablet){
        background-size: 1500px;
    }
    @include breakpoint($celular){
        background-size: 1500px;
    }
    h2{
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-top: 30px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        color: #000000;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 30px;
        @include breakpoint($tablet){
            font-size: 1rem;
        }
    }
    
    .box-especialistas{
        border: solid 2px #000;
        padding: 20px 3px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 15px;
        @include make-col-ready();
  
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
            @include make-col-offset(3);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(5);
            @include make-col-offset(4);
        }
        @include breakpoint($celular){
            font-size: 1rem;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 22px;
            height: 22px;
        }
    }

    .especialistas{
        
        text-align: center;
        img{
            
        }
        h4{
            text-decoration: underline;
            text-transform: uppercase;
            text-align: center;
            color: #c1d666;
            font-family: 'Roboto Condensed', sans-serif;
        }
        p{
            text-align: center;
            color: #c1d666;
            font-family: 'Roboto', sans-serif;
            padding: 0;
            margin: 0;
        }
    }
    .min-cv-especialistas{
        @include make-col(6);
        position: relative;
        color: #FFF;
        padding: 10px 20px;
        @include make-col-ready();
  
        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(6);
        }
        b{
            text-decoration: underline; 
        }
        &:before{
            // position: absolute;
            display: block;
            background-color: #c1d666;
            content: '';
            width: 50%;
            height: 13px;
            // top: 0;
            // left: 0;
        }
    }
}

.conteudo-patrocinar{
    background-color: #c1d666;
    background-image: url(../img/ls_24.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    h4{
        color: #3a3a3a;
        b{
            font-weight: bold;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
        }
    }
    a{
        color: #3a3a3a;
        text-decoration: none;
        &:hover{
            color: #505050;
        }
    }
}
.conteudo-patrocinador{
    background-color: #373737;
    padding: 20px 0;
    text-align: center;
}
footer{
    background-color: #373737;
    padding: 20px 0;
    p{
        text-align: center;
        color: #FFF;
    }
}